* {
    box-sizing: border-box;
}

body {
    font-family: 'Serif', serif;
    background-color: #d9fdd3; /* Color de fondo similar a WhatsApp */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; 
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.3s ease;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #25D366; /* Color verde WhatsApp */
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #25D366; /* Color verde WhatsApp */
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus {
    border: 1px solid #25D366;
    outline: none;
}

input[type="submit"] {
    background-color: #25D366;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: white;
    color: #25D366;
    border: 1px solid #25D366;
}

#regresar-button {
    background-color: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#regresar-button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 100%;  /* Cambia a 100% para móviles */
    }
}
