<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <form action="/acceso-login" method="POST">
            <h2>Iniciar Sesión</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Iniciar sesión">
            <p> ¿no tienes cuenta? <a 
                href="/templates/registro.html">Resgitrate</a></p>
        </form>
    </div>
</body>
</html>
